div {
  height: 200px;
  width: 100%;
}
.TOP {
  color:#171717;
  font-family: arial;
  font-size: 40px;
  margin:0px;
  background-color: #fff;
  text-align: center;
}
h2 {
  color:#fff;
  font-size: 70px;
  margin: 0px;
}
body {
  background-color:#171717;
}
h3 {
  color: #fff;
  font-family: arial;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}
p {
  color: #fff;
  font-family: arial;
  font-size: 20px;
  text-align: center;
}
.hello {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
a {
  color: #fff;
  text-decoration: none;
  font-family: arial;
  text-align:center;
}
/*Text za Linkove od Links.html */
.LinkH1 {
  color:#171717;
  font-size: 40px;
  font-family: arial;
  font-weight: 300;
  margin:0px;
  background-color: #fff;
  text-align: center;
}
.TITEL {
  font-size: 70px;
  margin: 0px;
  font-weight: 700;
  color: white;
}
.Link{
  position: relative; top: 20px;
  font-family: sans-serif;
  font-size: 40px;
}
.block {
  color: white;
  font-family: sans-serif;
}
.block:hover{
  color: white;
}
.block:visited{
  color: white;
}
